.navbar {
  width: 100%;
  background-color: var(--beige);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
  z-index: 50;
}

.navbar__logo > a {
  display: flex;
}
.navbar__logo > a > i{
  margin-top: 10px;
  color: var(--dustedBlack);
}


.navbar__logo h2 {
  color: var(--black);
  font-size: 1.4rem;
  cursor: pointer;
  padding: 7px;
  border-radius: 8%;
}
.navbar__logo h2:hover {
  background: var(--dustedBlack);
  color: var(--white);

}
.navbar__links {
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar__links > li {
  padding-left: 1.5rem;
}

.navbar__links > li > a {
  text-decoration: none;
  color: var(--black);
  background-color: var(--beige);
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.navbar__links > li > a > span {
  display: flex;
  align-items: center;
  margin-left: 3px;
}

.cart__link {
  background: #333;
  padding: 8px;
  border-radius: 7px;
}

.cart__link:hover {
  background: var(--dustedBlack);
  color: var(--white);
}

.cartlogo__badge {
  width: 30px;
  height: 30px;
  background-color: var(--beige);
  border-radius: 50%;
  margin-left: 8px;
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.hamburger__menu {
  display: none;
  width: 30px;
  height: 30px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.hamburger__menu:hover > div {
  background-color:var(--white);
}

.hamburger__menu > div {
  width: 100%;
  height: 3px;
  background: var(--black);
}

@media (max-width: 960px) {
  .navbar__links {
    display: none;
  }

  .hamburger__menu {
    display: flex;
  }
}

@media (max-width: 500px) {
  .navbar__logo h2 {
    font-size: 1rem;
  }
}
