* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--white);
}

img {
  width: 100%;
  object-fit: contain;
}

* {
  text-decoration: none;
}

:root {
  --white: #ffffff;
  --fadedWhite: rgb(235, 235, 235);
  --lightBeige: #E9E8E4;
  --beige: #D1D0CA;
  --darkBeige: #cccbcb;
  --dustedBlack: #181818;
  --black: #060606;
  --offWhite: #f5f5f5;
  --lightGrey: #bdbdbd;
  --grey: #474747;
}